name: Sync Prices to Notion

on:
  schedule:
    - cron: "30 23 * * *"   # every day at 5am IST
  workflow_dispatch:       # allow manual trigger from Actions tab

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATASOURCE_ID: ${{ secrets.DATASOURCE_ID }}
        run: python main.py
